@page "{teamID:Guid}"
@model FoosStats.Pages.Teams.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1 class="text-center">Team Details</h1>


<div>
    <div class="flex-fill"><h3>Offense: @Model.team.OffenseName</h3></div>
    <div class="flex-fill"><h3>Defense: @Model.team.DefenseName</h3></div>
</div>
<div class="card-deck">
    <div class="card">
        <p><text class="font-weight-bold">Games Played:</text> @Model.gamesPlayed</p>
        <p><text class="font-weight-bold">Record:</text> @Model.record[0] - @Model.record[1]</p>
        <p><text class="font-weight-bold">Win Percentage:</text> @Model.team.WinPct.ToString("F02")%</p>
    </div>
    <div class="card">
        <p><text class="font-weight-bold">Red Record:</text> @Model.redRecord[0] - @Model.redRecord[1] </p>
        <p><text class="font-weight-bold">Red Win Percentage:</text> @Model.redPct.ToString("F02")% </p>
        <p><text class="font-weight-bold">Blue Record:</text> @Model.blueRecord[0] - @Model.blueRecord[1] </p>
        <p><text class="font-weight-bold">Blue Win Percentage:</text> @Model.bluePct.ToString("F02")% </p>
    </div>
    <div class="card">
        <p><text class="font-weight-bold">Goals For Per Game:</text> @Model.avgGoalsFor.ToString("F02")</p>
        <p><text class="font-weight-bold">Goals Against Per Game:</text> @Model.avgGoalsAgainst.ToString("F02")</p>
    </div>
</div>
<canvas id="line-chart" width="800" height="450"></canvas>
<div>
    <h3 class="text-center">Team's Games</h3>
    <table class="table">
        <thead>
            <tr class="font-weight-bold">
                <td>Game Number</td>
                <td>Game Time</td>
                <td>Blue Defense</td>
                <td>Blue Offense</td>
                <td>Blue Score</td>
                <td>Red Score</td>
                <td>Red Offense</td>
                <td>Red Defense</td>
            </tr>
        </thead>
        <tbody>
            @{ var count = Model.labels.Count-1;}
            @foreach (var game in Model.games)
            {
                <tr>
                    <td>@count</td>
                    <td>@game.GameTime</td>
                    <td><a href="../../Players/Detail/@game.BlueDefense">@game.BlueDefenseName</a></td>
                    <td><a href="../../Players/Detail/@game.BlueOffense">@game.BlueOffenseName</a></td>
                    <td>@game.BlueScore</td>
                    <td>@game.RedScore</td>
                    <td><a href="../../Players/Detail/@game.RedOffense">@game.RedOffenseName</a></td>
                    <td><a href="../../Players/Detail/@game.RedDefense">@game.RedDefenseName</a></td>
                </tr>
                count -= 1;
            }
        </tbody>
    </table>
</div>

<script>
    var labels = JSON.parse('@Html.Raw(Json.Serialize(@Model.labels))')
    var historical = JSON.parse('@Html.Raw(Json.Serialize(@Model.historicalElo))')
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                data: historical,
                label: "Score",
                borderColor: "#3e95cd",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Elo Score Over Time'
            },
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Game'
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Elo Score'
                }
              }]
            }
        }
    });
</script>
