@page
@model FoosStats.Pages.Teams.List
@{
    ViewData["Title"] = "TeamStats";
}

<h1>Team Stats</h1>
<environment include="Development">
    <form method="post">
        <button type="submit" class="btn btn-primary">Refresh</button>
    </form>
</environment>
<p>Stats by team will only show if you have played 3 or more games with the individual.</p>
<h3>By Position</h3>
<table class="table">
    <thead>
        <tr>
            <td>Position</td>
            <td>Defense</td>
            <td>Offense</td>
            <td>Win Percentage</td>
            <td>Games Played</td>
            <td>Elo Score</td>
            <td>Details</td>
        </tr>
    </thead>
    <tbody>
        @{int count = 1; }
        @foreach (var team in Model.teamsByPosition)
        {
            <tr>
                <td>@count.</td>
                <td><a href="./Players/Detail/@team.DefenseID">@team.DefenseName</a></td>
                <td><a href="./Players/Detail/@team.OffenseID">@team.OffenseName</a></td>
                <td>@team.WinPct.ToString("F02") %</td>
                <td>@team.GamesPlayed</td>
                <td>@team.Rank</td>
                <td>
                    <a class="btn btn-lg" asp-page="./Detail" asp-route-teamID="@team.TeamID">
                        <i class="fa fa-search"></i>
                    </a>
                </td>
            </tr>
            count += 1;
        }
    </tbody>
</table>

<h3>Overall</h3>
<p>Position does not matter.</p>
<table class="table">
    <thead>
        <tr>
            <td>Player 1</td>
            <td>Player 2</td>
            <td>Win Percentage</td>
            <td>Games Played</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.overallTeams)
        {
            <tr>
                <td><a href="./Players/Detail/@team.DefenseID">@team.DefenseName</a></td>
                <td><a href="./Players/Detail/@team.OffenseID">@team.OffenseName</a></td>
                <td>@team.WinPct.ToString("F02") %</td>
                <td>@team.GamesPlayed</td>
            </tr>
        }
    </tbody>
</table>
