@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to FoosStats</h1>
</div>
<div class="row">
    <div class="w-75" style="margin-bottom:10px">
        <canvas id="RedVsBlue-chart"></canvas>
    </div>
    <div class="w-25 card">
        <h5 class="card-title text-center">Side Statistics</h5>
        <p><text class="font-weight-bold">Games Played: </text>@Model.homePageStatRetriever.GamesPlayed()</p>
        <p><text class="font-weight-bold">Blue Wins : </text>@Model.homePageStatRetriever.RedVsBlue()[1]</p>
        <p><text class="font-weight-bold">Red Wins : </text>@Model.homePageStatRetriever.RedVsBlue()[0]</p>
        <p><text class="font-weight-bold">Best On Red : <a href="\Players\Detail\@Model.bestOnRed.player.ID"></text>@Model.bestOnRed.player.FirstName @Model.bestOnRed.player.LastName</a></p>
        <p><text class="font-weight-bold">Best On Blue : </text><a href="\Players\Detail\@Model.bestOnBlue.player.ID">@Model.bestOnBlue.player.FirstName @Model.bestOnBlue.player.LastName</a></p>
    </div>
</div>
<hr />

<h4 class="text-center">Leader Board</h4>
<div class="card-deck" style="margin-bottom:10px">
    
    <div class="card">
        <h5 class="card-title text-center">Win Percentage</h5>
        @{ var count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersByWinPct())
        {
            <ol><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @(derivedData.WinPercentage.ToString("F02"))%</ol>
            count += 1;
        }
    </div>
    <div class="card">
        <h5 class="card-title text-center">Average Goals For Per Game</h5>
        @{count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersByGoalsPerGameAvg())
        {
            <ol><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.AverageGoalsPerGame.ToString("F02")</ol>
            count += 1;
        }
    </div>
    <div class="card">
        <h5 class="card-title text-center">Average Goals Against Per Game</h5>
        @{count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersByGoalsAgainstPerGameAvg())
        {
            <ol><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.AverageGoalsAgainstPerGame.ToString("F02")</ol>
            count += 1;
        }
    </div>
</div>
<hr />
<div>
    <h4 class="text-center">Today's Games</h4>
    <table class="table">
        <thead>
            <tr class="font-weight-bold">
                <td>Game</td>
                <td>Blue Defense</td>
                <td>Blue Offense</td>
                <td>Blue Score</td>
                <td>Red Score</td>
                <td>Red Offense</td>
                <td>Red Defense</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.homePageStatRetriever.TodaysGames())
            {
                <tr>
                    <td>@game.GameTime</td>
                    <td><a href="../../Players/Detail/@game.BlueDefense">@game.BlueDefenseName</a></td>
                    <td><a href="../../Players/Detail/@game.BlueOffense">@game.BlueOffenseName</a></td>
                    <td>@game.BlueScore</td>
                    <td>@game.RedScore</td>
                    <td><a href="../../Players/Detail/@game.RedOffense">@game.RedOffenseName</a></td>
                    <td><a href="../../Players/Detail/@game.RedDefense">@game.RedDefenseName</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
        new Chart(document.getElementById("RedVsBlue-chart"), {
            type: 'doughnut',
            data: {
                labels: ["Red", "Blue"],
                datasets: [{
                    label: "Win Percentage Per Side",
                    backgroundColor: ["#FF0000", "#0C00FF"],
                    data: [@Model.RedWinPct, @Model.BlueWinPct]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Win Percentage Per Side'
                }
            }
        });
</script>