@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to FoosStats</h1>
</div>
<div class="row">
    <div class="w-75" style="margin-bottom:10px">
        <canvas id="RedVsBlue-chart"></canvas>
    </div>
    <div>
        <p style="margin-left: 4px"><text class="font-weight-bold">Games Played: </text>@Model.homePageStatRetriever.GamesPlayed()</p>
        <p style="margin-left: 4px"><text class="font-weight-bold">Blue Wins : </text>@Model.homePageStatRetriever.RedVsBlue()[1]</p>
        <p style="margin-left: 4px"><text class="font-weight-bold">Red Wins : </text>@Model.homePageStatRetriever.RedVsBlue()[0]</p>
    </div>
</div>
<hr />

<h3 class="text-center">Leader Board</h3>

<div class="card" style="margin-bottom:10px">
    <h5 class="card-title text-center">Top Teams</h5>
    <table class="table">
        <thead>
            <tr>
                <td>Position</td>
                <td>Defense</td>
                <td>Offense</td>
                <td>Win Percentage</td>
                <td>Games Played</td>
                <td>Elo Score</td>
                <td>Details</td>
            </tr>
        </thead>
        <tbody>
            @{int count = 1; }
            @foreach (var team in Model.teamRetriever.BestTeamsByPosition().ToList().Take(3))
            {
                <tr>
                    <td>@count.</td>
                    <td><a href="./Players/Detail/@team.DefenseID">@team.DefenseName</a></td>
                    <td><a href="./Players/Detail/@team.OffenseID">@team.OffenseName</a></td>
                    <td>@team.WinPct.ToString("F02") %</td>
                    <td>@team.GamesPlayed</td>
                    <td>@team.Rank</td>
                    <td>
                        <a class="btn btn-lg" asp-page="./Teams/Detail" asp-route-teamID="@team.TeamID">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                </tr>
                count += 1;
            }
        </tbody>
    </table>
</div>

<div class="card-deck" style="margin-bottom:10px">
    
    <div class="card">
        <h5 class="card-title text-center">Win Percentage</h5>
        @{ count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersByWinPct())
        {
            <p style="margin-left: 4px"><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @(derivedData.WinPercentage.ToString("F02"))%</p>
            count += 1;
        }
    </div>
    <div class="card">
        <h5 class="card-title text-center">Average Goals For Per Game</h5>
        @{ count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersByGoalsPerGameAvg())
        {
            <p style="margin-left: 4px"><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.AverageGoalsPerGame.ToString("F02")</p>
            count += 1;
        }
    </div>
    <div class="card">
        <h5 class="card-title text-center">Average Goals Against Per Game</h5>
        @{count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersByGoalsAgainstPerGameAvg())
        {
            <p style="margin-left: 4px"><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.AverageGoalsAgainstPerGame.ToString("F02")</p>
            count += 1;
        }
    </div>
</div>

<div class="card-deck" style="margin-bottom:10px">


    <div class="card">
        <h5 class="card-title text-center">Offense Win Percentage</h5>
        @{count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersByOffenseWinPct())
        {
            <p style="margin-left: 4px"><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.OffenceWinPct.ToString("F02")%</p>
            count += 1;
        }
    </div>
    <div class="card">
        <h5 class="card-title text-center">Defense Win Percentage</h5>
        @{count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersByDefenseWinPct())
        {
            <p style="margin-left: 4px"><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.DefenseWinPct.ToString("F02")%</p>
            count += 1;
        }
    </div>
    <div class="card">
        <h5 class="card-title text-center">Win Percentage On Blue</h5>
        @{count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersOnBlue())
        {
            <p style="margin-left: 4px"><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.BlueWinPct.ToString("F02")%</p>
            count += 1;
        }
    </div>
    <div class="card">
        <h5 class="card-title text-center">Win Percentage on Red</h5>
        @{count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopPlayersOnRed())
        {
            <p style="margin-left: 4px"><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.RedWinPct.ToString("F02")%</p>
            count += 1;
        }
    </div>
</div>
<div class=" card-deck" style="margin-bottom: 10px">
    <div class="card">
        <h5 class="card-title text-center">Average Offense Elo</h5>
        @{count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopAverageEloOffense())
        {
            <p style="margin-left: 4px"><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.AverageOffenseElo</p>
            count += 1;
        }
    </div>
    <div class="card">
        <h5 class="card-title text-center">Average Defense Elo</h5>
        @{count = 1;}
        @foreach (var derivedData in Model.homePageStatRetriever.TopAverageEloDefense())
        {
            <p style="margin-left: 4px"><text class="font-weight-bold">@count. @derivedData.player.FirstName @derivedData.player.LastName</text> : @derivedData.AverageDefenseElo</p>
            count += 1;
        }
    </div>
</div>
<hr />
@if (Model.homePageStatRetriever.TodaysGames().Count() != 0)
{
    <div>
        <h3 class="text-center">Today's Games</h3>
        <table class="table">
            <thead>
                <tr class="font-weight-bold">
                    <td>Game</td>
                    <td>Blue Defense</td>
                    <td>Blue Offense</td>
                    <td>Blue Score</td>
                    <td>Red Score</td>
                    <td>Red Offense</td>
                    <td>Red Defense</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.homePageStatRetriever.TodaysGames())
                {
                    <tr>
                        <td>@game.GameTime</td>
                        <td><a href="../../Players/Detail/@game.BlueDefense">@game.BlueDefenseName</a></td>
                        <td><a href="../../Players/Detail/@game.BlueOffense">@game.BlueOffenseName</a></td>
                        <td>@game.BlueScore</td>
                        <td>@game.RedScore</td>
                        <td><a href="../../Players/Detail/@game.RedOffense">@game.RedOffenseName</a></td>
                        <td><a href="../../Players/Detail/@game.RedDefense">@game.RedDefenseName</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



<script>
        new Chart(document.getElementById("RedVsBlue-chart"), {
            type: 'doughnut',
            data: {
                labels: ["Red", "Blue"],
                datasets: [{
                    label: "Win Percentage Per Side",
                    backgroundColor: ["#FF0000", "#0C00FF"],
                    data: [@Model.RedWinPct, @Model.BlueWinPct]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Win Percentage Per Side'
                }
            }
        });
</script>