@page
@model FoosStats.Pages.TeamGeneratorModel
@{
    ViewData["Title"] = "TeamGenerator";
}

<h1>Random Team Generator</h1>
<div>
    <form method="post">
        <div class="row">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Select</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 0;}
                        @foreach (var player in Model.teamGenerator.players)
                        {
                            <tr>
                                <td><label for=@(count.ToString() + "toggle")>@player.FirstName @player.LastName</label></td>
                                <td><input id=@(count.ToString() + "toggle") name="selectedPlayers" type="checkbox" value="@player.ID" /></td>
                            </tr>
                            count += 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>
</div>

<hr />
@if ((Model.teams[0].Count() + Model.teams[1].Count() + Model.teams[2].Count()) != 0)
{
    <h4>Random Teams</h4>
    <div class="card-deck" style="margin-bottom: 10px">
        <div class="card">
            <h4 class="card-title text-center">Red Team</h4>
            @foreach (var name in Model.teams[0])
            {
                <p class="card-text text-center" start="1">@name</p>
            }

        </div>
        <div class="card">
            <h4 class="card-title text-center">Blue Team</h4>
            @foreach (var name in Model.teams[1])
            {
                <p class="card-text text-center" start="1">@name</p>
            }
        </div>
        <div class="card">
            <h4 class="card-title text-center">Bench</h4>
            @foreach (var name in Model.teams[2])
            {
                <p class="card-text text-center" start="1">@name</p>
            }
        </div>
    </div>
}
@if ((Model.fairTeams.Count) != 0)
{
    <h4>Fair Teams</h4>
    <div class="card-deck" style="margin-bottom:10px">
        <div class="card">
            <h4 class="card-title text-center">Red Team</h4>
            <p> Offense: @Model.fairTeams[1].OffenseName</p>
            <p> Defense: @Model.fairTeams[1].DefenseName</p>
            <p> Rank: @Model.fairTeams[1].Rank</p>


        </div>
        <div class="card">
            <h4 class="card-title text-center">Blue Team</h4>
            <p> Offense: @Model.fairTeams[0].OffenseName</p>
            <p> Defense: @Model.fairTeams[0].DefenseName</p>
            <p> Rank: @Model.fairTeams[0].Rank + 100 </p>
        </div>
        <div class="card">
            <h4 class="card-title text-center">Bench</h4>

        </div>
    </div>
}